<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is About page.</h1>
    <p>We are Learning spring boot.</p>
    <h2 th:text="${#strings.toUpperCase(name)}"></h2>
    <p>length of the name is <span th:text="${#strings.length(name)}"></span></p>
    <h2>Name of the owner is <span th:text="${name}"></span> </h2>
    <h2 th:text="${Date}"></h2>
    
    <div th:with="a=5,b=67, n=${name}">
        <p> <span th:text="'Value of a is ' + ${a}"></span></p>
        <p>value of b is  <span th:text="${b}"></span></p>
        <p>value of n is  <span th:text="${n}"></span></p>
    </div>

    <footer th:replace="./footer.html">1</footer>
    <footer th:include="./footer.html">2</footer>
    <footer th:insert="./footer.html">3</footer>
</body>
</html>