<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- th:replace 
         th:insert
         th:include 
    --> 
         <!-- inheriting Thymeleaf Template -->
    <footer id="fragmentTag" th:fragment="footer1(title,subtitle)">
                <div class="container">
                    <h1 th:text="${title}"></h1>
                    <h2 th:text="${subtitle}"></h2>
                Copyright © VFS Global. All Rights Reserved.
            </div>
    </footer>
</body>
</html>