<!DOCTYPE html>
<!-- xml namespace -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>This services are provided.</h1>
        <!-- going to include footer -->
        <!-- <footer id="hosttag" th:insert="./footer::footer1"></footer>
        <footer th:include="./footer::footer1"></footer> -->
        <!-- <footer th:replace="./footer::footer1('This is title', 'This is sub')"></footer> -->
        <footer th:replace="./footer::footer1(${title},${subtitle})"></footer>
</body>
</html>